<!DOCTYPE html>
<html>
<head><title>Login</title></head>
<body>
  <h1>Login</h1>
  <form method="POST" action="/login" id="loginForm">
    <div>
      <label>Email:</label>
      <input type="email" name="email" id="email" placeholder="Enter email" />
    </div>
    <div>
      <label>Password:</label>
      <input type="password" name="password" id="password" placeholder="Enter password" />
    </div>
    <button type="submit" id="loginBtn">Login</button>
  </form>
  <p>Don't have an account? <a href="/signup">Sign up</a></p>
</body>
</html>