<!DOCTYPE html>
<html>
<head><title>Signup</title></head>
<body>
  <h1>Sign Up</h1>
  <form method="POST" action="/signup" id="signupForm">
    <div>
      <label>Username:</label>
      <input type="text" name="username" id="username" placeholder="Enter username" />
    </div>
    <div>
      <label>Email:</label>
      <input type="email" name="email" id="email" placeholder="Enter email" />
    </div>
    <div>
      <label>Password:</label>
      <input type="password" name="password" id="password" placeholder="Enter password" />
    </div>
    <button type="submit" id="signupBtn">Register</button>
  </form>
  <p>Already have an account? <a href="/login">Login</a></p>
</body>
</html>